<div id="toolbar">
	<a href="/admin/add/event/r/<%= @month.erid %>">Add Event</a> | <a href="/admin/schedule">Back to Schedule</a>
</div>

<img id="heading" src="/images/monthly-schedule.jpg" height="34" width="206" alt="Monthly Schedule" />
<div id="monthTitle">
<% if @month.month == 1 %>January<% end %>
<% if @month.month == 2 %>February<% end %>
<% if @month.month == 3 %>March<% end %>
<% if @month.month == 4 %>April<% end %>
<% if @month.month == 5 %>May<% end %>
<% if @month.month == 6 %>June<% end %>
<% if @month.month == 7 %>July<% end %>
<% if @month.month == 8 %>August<% end %>
<% if @month.month == 9 %>September<% end %>
<% if @month.month == 10 %>October<% end %>
<% if @month.month == 11 %>November<% end %>
<% if @month.month == 12 %>December<% end %> <%= @month.year %>
</div>

<table border="0" id="scheduleBox" width="100%">
	<% @events.each do |event| %>
	<% haveSQL = "SELECT COUNT(ueid) FROM user_events WHERE status = 2 AND event_id = " + event.eid.to_s
	   have = repository(:default).adapter.select(haveSQL) %>
		<tr>
			<td><a href="/admin/schedule/event/<%= event.eid %>-<%= @month.erid %>"><%= event.event_day_name %> 
			<% if @month.month == 1 %>January<% end %>
			<% if @month.month == 2 %>February<% end %>
			<% if @month.month == 3 %>March<% end %>
			<% if @month.month == 4 %>April<% end %>
			<% if @month.month == 5 %>May<% end %>
			<% if @month.month == 6 %>June<% end %>
			<% if @month.month == 7 %>July<% end %>
			<% if @month.month == 8 %>August<% end %>
			<% if @month.month == 9 %>September<% end %>
			<% if @month.month == 10 %>October<% end %>
			<% if @month.month == 11 %>November<% end %>
			<% if @month.month == 12 %>December<% end %>
			 <%= event.event_day %></a></td>
			 <td><%= event.event_name %>: 
			 
			 <% e_type = EventType.all(:etid => event.type) %>
			 <%= e_type[0].name %>

			 </td>
			 <td class="blueLink"><a href="/admin/edit/event/<%= event.eid %>-<%= event.event_range %>">Edit</a> | <a href="/admin/delete/event/<%= event.eid %>-<%= @month.erid %>">Delete</a></td>
			 <td>Need: <a href="/admin/edit/event/<%= event.eid %>-<%= event.event_range %>"><%= event.need %></a></td>
			 <td>Have: 
			   	<a href="/admin/schedule/event/<%= event.eid %>-<%= @month.erid %>"><%= have[0] %></a>
			</td>
			 <td>Status: <% if event.need <= have[0] %><span class="greenLink">Set!</span><% else %><span class="red">Not Set</a><% end %></td>
		</tr>
	<% end %>
</table>
