<div id="toolbar">
	<a href="" onClick="window.print()">Print Schedule</a> | <a href="/admin/edit/event/<%= @event.eid %>-<%= @event.event_range %>">Edit Event</a> | <a href="/admin/schedule/monthly/<%= @range.erid %>">Back to <% if @range.month == 1 %>January<% end %>
<% if @range.month == 2 %>February<% end %>
<% if @range.month == 3 %>March<% end %>
<% if @range.month == 4 %>April<% end %>
<% if @range.month == 5 %>May<% end %>
<% if @range.month == 6 %>June<% end %>
<% if @range.month == 7 %>July<% end %>
<% if @range.month == 8 %>August<% end %>
<% if @range.month == 9 %>September<% end %>
<% if @range.month == 10 %>October<% end %>
<% if @range.month == 11 %>November<% end %>
<% if @range.month == 12 %>December<% end %></a>
</div>

<img id="heading" src="/images/event.jpg" height="27" width="63" alt="Event" />
<div id="monthTitle4">
<%= @event.event_name %>: <% e_type = EventType.all(:etid => @event.type) %> <%= e_type[0].name %>
</div>
<div id="monthTitle3">
<%= @event.event_day_name %> 
<% if @range.month == 1 %>January<% end %>
<% if @range.month == 2 %>February<% end %>
<% if @range.month == 3 %>March<% end %>
<% if @range.month == 4 %>April<% end %>
<% if @range.month == 5 %>May<% end %>
<% if @range.month == 6 %>June<% end %>
<% if @range.month == 7 %>July<% end %>
<% if @range.month == 8 %>August<% end %>
<% if @range.month == 9 %>September<% end %>
<% if @range.month == 10 %>October<% end %>
<% if @range.month == 11 %>November<% end %>
<% if @range.month == 12 %>December<% end %> <%= @event.event_day %>, <%= @range.year %> - <%= @event.event_time %>
</div>

<div id="eventInfo">
	<%= @event.notes %>
</div>
<%
	workers = UserEvent.all(:event_id => @event.eid)
%>
<table border="0" width="700">
	<% workers.each do |worker| %>
	<%
		owner = worker.owner_id 
		userName = @users.first(:id => worker.owner_id) 
	%>
		<tr>
			<td><%= userName['first_name'] %> <%= userName['last_name'] %></td>
			<td>
				<select name="position-<%= owner %>" id="position-<%= owner %>">
					<option value="0">Select Position</option>
					<% positions = Position.all;
					   positions.each do |position| %>
							<option value="<%= position.pid %>"<% if worker.position == position.pid %>selected="selected"<% end %>><%= position.name %></option>
					<% end %>
				</select>
			</td>
			<td class="blueLink"><a class="position-<%= owner %>" rel="/admin/schedule/event/confirm/<%= worker.ueid %>-<%= @event.eid %>-<%= @range.erid %>" data-click="confirmClick" href="#">Confirm</a> | <a href="/admin/schedule/event/deny/<%= worker.ueid %>-<%= @event.eid %>-<%= @range.erid %>">Deny</a></td>
			<td>Status:

			<% eventStatus = "SELECT status FROM user_events WHERE owner_id = " + owner.to_s + " AND event_id = " + @event.eid.to_s
			   status = repository(:default).adapter.select(eventStatus) %>

			<% if status[0] == 1 %>
				Pending
			<% end %>

			<% if status[0] == 2  %>
			 	<span class="greenLink">Confirmed!</span>
			<% end %>

			<% if status[0] == 3  %>
			 	<span class="redLink">Not Working</span>
			<% end %>


			</td>
		</tr>
	<% end %>
</table>

<script type="text/javascript">
$(function(){
	// handles setting positions dynamiclly
	$('option').mouseup(function(){
		value = $(this).attr('value');
		id = $(this).parent().attr('name');
		original = $('a.'+id).attr('rel');
		// We set our url based on the position selected
		$('a.'+id).attr('href', original + '-' + value);
	});
	// checks to see if position is set before confirming
	$('a[data-click]').click(function(e){
		e.preventDefault();
		if( $(this).attr('href') == "#" ) {
			alert("Please assign the worker a position");
		} else {
			window.location = $(this).attr('href');
		}
	});
});
</script>