<div id="toolbar">
	<a href="/account/signup">Back to Schedule</a>
</div>

<img id="heading" src="/images/monthly-schedule.jpg" height="34" width="206" alt="Monthly Schedule" />
<div id="monthTitle">
<% if @month.month == 1 %>January<% end %>
<% if @month.month == 2 %>February<% end %>
<% if @month.month == 3 %>March<% end %>
<% if @month.month == 4 %>April<% end %>
<% if @month.month == 5 %>May<% end %>
<% if @month.month == 6 %>June<% end %>
<% if @month.month == 7 %>July<% end %>
<% if @month.month == 8 %>August<% end %>
<% if @month.month == 9 %>September<% end %>
<% if @month.month == 10 %>October<% end %>
<% if @month.month == 11 %>November<% end %>
<% if @month.month == 12 %>December<% end %> <%= @month.year %>
</div>

<table border="0" id="scheduleBox" width="100%">
	<% @events.each do |event| %>
	<% haveSQL = "SELECT COUNT(ueid) FROM user_events WHERE status = 2 AND event_id = " + event.eid.to_s
	   have = repository(:default).adapter.select(haveSQL) %>
		<tr>
			<td class="blueLink"><%= event.event_day_name %> 
			<% if @month.month == 1 %>January<% end %>
			<% if @month.month == 2 %>February<% end %>
			<% if @month.month == 3 %>March<% end %>
			<% if @month.month == 4 %>April<% end %>
			<% if @month.month == 5 %>May<% end %>
			<% if @month.month == 6 %>June<% end %>
			<% if @month.month == 7 %>July<% end %>
			<% if @month.month == 8 %>August<% end %>
			<% if @month.month == 9 %>September<% end %>
			<% if @month.month == 10 %>October<% end %>
			<% if @month.month == 11 %>November<% end %>
			<% if @month.month == 12 %>December<% end %>
			 <%= event.event_day %></td>
			 <td><%= event.event_name %>: 
			 <% e_type = EventType.all(:etid => event.type) %>
			 <%= e_type[0].name %>
			 </td>
			 <td>Need: <%= event.need %></td>
			 <td<% if event.need <= have[0] %> class="greenLink"<% end %>>Status: <% if event.need <= have[0] %><span class="greenLink">Set!</span><% else %><span class="red">Not Set</a><% end %></td>
			 <%  
			 	eventStatus = "SELECT status FROM user_events WHERE owner_id = " + @user.id.to_s + " AND event_id = " + event.eid.to_s
			 	status = repository(:default).adapter.select(eventStatus)
			 %>
			 <% if status[0] == 2  %>
			 	<td>
			 		<span class="greenLink">Confirmed!</span>
			 	</td>
			 <% end %>
			 <% if status[0] == 1  %>
			 	<td>
			 		Requested
			 	</td>
			 <% end %>
			 <% if status[0] == nil || status[0] == 0  %>
			 	<td class="blueLink">
			 		<a href="/account/signup/event/<%= @user.id %>-<%= event.eid %>-<%= @month.erid %>">Sign Up!</a>
			 	</td>
			 <% end %>
		</tr>
	<% end %>
</table>
